/* Media Queries */

@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .logo {
    order: 0; /* Move the logo to the beginning */
  }

  main {
    flex: 1;
  }

  nav {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3em;
  }

  nav a {
    opacity: 1;
    margin-left: 1.5em;
  }

  nav ul {
    list-style: none; /* Remove default list styling */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }

  nav li {
    margin-left: 1.5em;
  }

  .bg-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 25em;
    padding: 2em;
    margin-left: 200px;
  }

  .body-text {
    font-size: 1.2em;
    max-width: 100ch;
  }
}
